<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">

      <package
            uri="http://www.asup.org/os/type/cmd"
            class="org.asup.os.type.cmd.QOperatingSystemCommandPackage"
            genModel="model/os-type-cmd.genmodel"/>                        
   </extension>

null
null
</plugin>
