<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>  
	<extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseRecognition">
      <recognizer
            class="org.eclipse.datatools.enablement.asup.ASUPDatabaseRecognizer">
      </recognizer>
	</extension>
	<extension point="org.eclipse.datatools.connectivity.connectionProfile">
		<connectionProfile
        category="org.eclipse.datatools.connectivity.db.category"
        icon="icons/jdbc_16.png"
        id="org.eclipse.datatools.enablement.asup.connectionProfile"
        name="As.UP Profile"
        pingFactory="org.eclipse.datatools.enablement.asup.ASUPConnectionPingFactory"
        propertiesPersistenceHook="org.eclipse.datatools.enablement.asup.ASUPPropertiesPersistenceHook"/>
  <connectionFactory
        class="org.eclipse.datatools.enablement.asup.ASUPConnectionPingFactory"
        id="org.eclipse.datatools.connectivity.pingFactory"
        profile="org.eclipse.datatools.enablement.asup.connectionProfile">
  </connectionFactory>
		<connectionFactory
			class="org.eclipse.datatools.enablement.asup.ASUPConnectionInfoFactory"
			id="org.eclipse.datatools.enablement.asup.connectionFactory"
			profile="org.eclipse.datatools.enablement.asup.connectionProfile" />
  <connectionFactory
        class="org.eclipse.datatools.enablement.asup.ASUPConnectionJDBCFactory"
        id="java.sql.Connection"
        profile="org.eclipse.datatools.enablement.asup.connectionProfile">
  </connectionFactory>
	</extension>
	<extension point="org.eclipse.datatools.connectivity.driverExtension">
		<category parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
			id="org.eclipse.datatools.enablement.asup.driverCategory"
			name="As.UP Driver Category" />
		<category
			parentCategory="org.eclipse.datatools.enablement.asup.driverCategory"
			id="org.eclipse.datatools.enablement.asup.v05.driverCategory"
			name="As.UP Driver Category V0.5" />			
		<driverTemplate createDefault="false" emptyJarListIsOK="true"
			id="org.eclipse.datatools.enablement.asup.v05.driverTemplate"
			name="As.UP JDBC Driver V0.5"
			parentCategory="org.eclipse.datatools.enablement.asup.v05.driverCategory">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="Driver Class"
					value="org.eclipse.datatools.enablement.asup.JDBCDriver" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="Vendor"
					value="As.UP" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="Version"
					value="V0.5" required="true" visible="false" />
				<property
          generated="false"
          id="org.eclipse.datatools.connectivity.db.databaseName"
          name="Database Name"
          required="true"
          value="ASUP_05"
          visible="true"/>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="Connection URL"
					value="jdbc:asup://localhost/ASUP_05" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="User ID"
					value="ASUP" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="Password"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
	</extension>
	<extension
       point="org.eclipse.datatools.connectivity.sqm.core.catalog">
    <catalog
          priority="1"
          product="As.UP"
          provider="org.eclipse.datatools.enablement.asup.ASUPCatalogProvider"
          version="V0.5">
    </catalog>
 </extension>
	<extension
         point="org.eclipse.datatools.connectivity.sqm.core.mappings">
      <providerIDtoDriverCategoryID
            driverCategoryID="org.eclipse.datatools.enablement.asup.driverCategory"
            providerID="org.eclipse.datatools.enablement.asup.connectionProfile">
      </providerIDtoDriverCategoryID>
    </extension>
   
</plugin>
