<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated os-data -->
      <package
            uri="http://www.asup.org/os/data"
            class="org.asup.os.data.QOperatingSystemDataPackage"
            genModel="model/os-data.genmodel"/>
   </extension>

</plugin>
