<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated db-core -->
      <package
            uri="http://www.asup.org/db/core"
            class="org.asup.db.core.QDatabaseCorePackage"
            genModel="model/db-core.genmodel"/>
   </extension>

</plugin>
