<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated il-esql -->
      <package
            uri="http://www.asup.org/il/esql"
            class="org.asup.il.esql.QIntegratedLanguageEmbeddedSQLPackage"
            genModel="model/il-esql.genmodel"/>
   </extension>

</plugin>
