<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fw-test -->
      <package
            uri="http://www.asup.org/fw/test"
            class="org.asup.fw.test.QFrameworkTestPackage"
            genModel="model/fw-test.genmodel"/>
   </extension>

</plugin>
