<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated il-isam -->
      <package
            uri="http://www.asup.org/il/isam"
            class="org.asup.il.isam.QIntegratedLanguageIsamPackage"
            genModel="model/il-isam.genmodel"/>
   </extension>

</plugin>
