<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
            
      <package
            uri="http://www.asup.org/os/type/pgm"
            class="org.asup.os.type.pgm.QOperatingSystemProgramPackage"
            genModel="model/os-type-pgm.genmodel"/>                        
   </extension>

</plugin>
