<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            allowsConnections="true"
            description="As.UP Eclipse DataTools Enablement Version V0.5"
            file="runtime/vendors/AsUP_V05/AsUP_V05.xmi"
            product="As.UP"
            productDisplayString="As.UP"
            version="V0.5"
            versionDisplayString="V0.5">
      </definition>
   </extension>
   
	
   
</plugin>
